<h2 style="color:red"><%= @game.loser.name %> has been obliterated!</h2>
<br>
<h2 style="color:red">
<pre>
         88               ad88                                                 88  
         88              d8"                          ,d                       88  
         88              88                           88                       88  
 ,adPPYb,88  ,adPPYba, MM88MMM ,adPPYba, ,adPPYYba, MM88MMM ,adPPYba,  ,adPPYb,88  
a8"    `Y88 a8P_____88   88   a8P_____88 ""     `Y8   88   a8P_____88 a8"    `Y88  
8b       88 8PP"""""""   88   8PP""""""" ,adPPPPP88   88   8PP""""""" 8b       88  
"8a,   ,d88 "8b,   ,aa   88   "8b,   ,aa 88,    ,88   88,  "8b,   ,aa "8a,   ,d88  
 `"8bbdP"Y8  `"Ybbd8"'   88    `"Ybbd8"' `"8bbdP"Y8   "Y888 `"Ybbd8"'  `"8bbdP"Y8
</pre>
</h2>
<br>
<h2 style="color:green"><%= @game.current_turn.name %> is victorious!</h2>
<br>
<h2 style="color:green">
<pre>
        d8b        888                           
        Y8P        888                           
                   888                           
888  888888 .d8888b888888 .d88b. 888d888888  888 
888  888888d88P"   888   d88""88b888P"  888  888 
Y88  88P888888     888   888  888888    888  888 
 Y8bd8P 888Y88b.   Y88b. Y88..88P888    Y88b 888 
  Y88P  888 "Y8888P "Y888 "Y88P" 888     "Y88888 
                                             888 
                                        Y8b d88P 
                                         "Y88P"  
</pre>
</h2>
<br>
<form action='/'>
  <input type="submit" value="Play again?">
</form>